.bground{
    background-image: url('http://localhost/safeJourney/image/images%20%281%29.jpeg');
    background-repeat: no-repeat,repeat; 
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 8rem;
    font-weight: bold;
    padding-left: 8rem;
    margin-top: -50px;
}

.bground form , button {
    background-color: rgba(255, 255, 255, 0.467);
    padding: 70px;
    max-width: 90%;
}

@media only screen and (max-width:768px){
    .bground{
        min-height: 100vh;
        padding-top: 3rem;
        font-weight: bold;
        padding-left: 3rem;
    }
    
    .bground form , button {
        background-color: rgba(255, 255, 255, 0.467);
        padding: 70px;
        max-width: 90%;
     
    }
}