.pagination {
  display: flex;
  margin: 30px auto;
  padding-Top: 70px;
  list-style: none;
  justify-content: center;
}
/* .pagination > .active > a{
  background-color: #041f47   ;
  border-color: #041f47  ;
  color: #fff;
} */
/* .pagination > li > a{
  border: 1px solid #041f47  ;
  padding: 5px 10px;
  cursor: pointer;
} */
/* .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #041f47   ;
  border-color: #041f47   ;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #041f47 
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
} */



/* .pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
} */

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0f1011;
  color: #060607;
}

/* .pagination__link {
  font-weight: bold;
} */
.pagination--disabled a:hover {
  cursor: not-allowed;
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
 }

/* .pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
} */
